.container section {
    width: 100vw;
    height: 100vh;
}

/* NOTE: Esta es la imagen de fondo */
.home-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    /* La imagen queda en un plano inferior */
}

/* NOTE: Este es el div que cubre la imagen para anadir la transparencia */
.home-cover-blur {
    background-color: var(--valo-background-color);
    opacity: 0.75;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.welcome-text {
    position: relative;
    z-index: 3;
    text-align: center;
    padding: 100px;
    margin: auto auto;
}